### Ignore variables
variables.tf

### Ignore terraform files
.terraform
*.tfstate
*.tfstate.backup
*.lock.info
### Ignore keys
keys/*

### Ansible hosts
/ansible/hosts

### Secret file
cluster_autoscaler/secret.yaml
hpa/k8s-prom-hpa/custom-metrics-api/cm-adapter*
hpa/k8s-prom-hpa/output